Django>=1.8
psycopg2
pyelasticsearch
django-appconf
pyshp
raven!=4.1
# pupa constraint
dj-database-url==0.3.0
# @see https://github.com/opencivicdata/imago/issues/80#issuecomment-196545080
-e git+https://github.com/opencivicdata/python-opencivicdata-django@42bf463026a6b14a6f069c6db6dc974d11134b45#egg=opencivicdata-django
opencivicdata-divisions
DjangoRestless
gunicorn

-e git+https://github.com/tor-councilmatic/imago@django-rest-framework#egg=imago

-e git+https://github.com/opencivicdata/pupa.git#egg=pupa

# represent-boundaries
-e git+https://github.com/opennorth/represent-boundaries.git#egg=boundaries

-e git+https://github.com/sunlightlabs/django-locksmith.git@python3#egg=django-locksmith

-e git+https://github.com/sunlightlabs/waterfall.git#egg=waterfall
